In [1]:
import pandas as pd

In [17]:
df = pd.DataFrame({'A':['a','b'],
                   'B':[['A1', 'A2'],['A1', 'A2', 'A3']]})

In [23]:
df

   A             B
0  a      [A1, A2]
1  b  [A1, A2, A3]

In [18]:
x=df.B[0]

In [28]:
df.B.apply(lambda x: pd.Series(x)).stack().reset_index(level=1,drop=True)

0    A1
0    A2
1    A1
1    A2
1    A3
dtype: object

In [28]:
df.B.apply(lambda x: pd.Series(x)).stack().reset_index(level=1,drop=True)

0    A1
0    A2
1    A1
1    A2
1    A3
dtype: object

In [3]:
df

   A               B
0  a      [[A1, A2]]
1  b  [[A1, A2, A3]]

In [7]:
df.explode('B')

AttributeError: 'DataFrame' object has no attribute 'explode'